.movie__list {
   
    padding: 40px 3rem 3rem 3rem;
    background: var(--body_background);
}
.list__title {
font-size: 2.5rem;
margin:  2.5rem;
color: var(--body_color);
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}